* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #4a4a4a;
}
h2 {
    margin-bottom: 5px;
}
h3 {
    margin-bottom: 8px;
}
.label_otazka{
    width: 300px;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    min-height: 50px;
    border: 2px solid black;
}
header nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
header nav a:hover {
    background-color: white;
    color: black;
}
.navbar-icon {
    top: 13px;
    right: 30px;
    position: absolute;
    color: #f2f2f2;
    font-size: 40px;
    display: none;
}
#header {
    display: flex;
    align-items: center;
}
#header-title {
    color: white;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    margin: 0 10px;
}
#header-img  {
    width: 60px;
}
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}
.error-msg {
    display: block;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.success-msg {
    display: block;
    color: green;
    font-weight: bold;
}
.page-not-found {
    text-align: center;
}
.title {
    border-bottom: 1px solid black;
}
button{
    padding: 8px 15px;
    background: #333;
    color: #f2f2f2;
    border: 0 none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
}
button:hover{
    background: #727272;
}
input[type=submit] {
    padding: 8px 15px;
    background: #333;
    color: #f2f2f2;
    border: 0 none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
}
input[type=submit]:hover {
    background: #727272;
}
input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], select {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, input[type=number]:focus, select:focus {
    border-color: #333;
}
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=date]:hover, input[type=number]:focus, select:hover {
    border-color: #333;
}
label {
    font-weight: bold;
    display: block;
}
textarea {
    min-width: 100%;
    max-width: 100%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
textarea:focus {
    border-color: #333;
}
textarea:hover {
    border-color: #333;
}
.card > .card-title {
    border-bottom: 1px solid black;
}
.card > .card-body {
    margin-top: 5px;
    width: 45%;
}
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.form-submit {
    margin-top: 5px;
}
.form > .form-title {
    border-bottom: 1px solid black;
}
.form > .form-body * {
    margin: 3px 0;
}
.form > .form-body input[type=text] {
    width: 99%;
}
.profile{
    width: 40%;
}
th{
    text-align: left;
    width: 15%;
}
.th_predmety{
    padding: 4px;
}
.chat{
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
    max-width: 50%;
    margin-top: 10px;
}
.odesilatel{
    background-color: #0000a0;
    color: white;
}
.odesilatel > a{
    color: white;
}
.prijemce{
    background-color: #7c7c7c;
    color: black;
    margin-left: 35px;
}
.prijemce > a{
    color: black;
}
.button_kviz {
    display: block;
    width: 115px;
    background: #333;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
        align-items: unset;
    }
    header nav a {
        display: none;
    }
    .navbar-icon {
        display: block;
    }
    header nav.responsive a {
        display: block;
    }
}